.country {
	background-color: #c5c7cfcf;
	width: 220px;
	padding: 10px;
	color: #7a6f6f;
	border-radius: 1rem;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.582);
}

.target {
	position: relative;
}

.country h5, p {
	font-size: 15px;
	margin: 10px 0;
}

.target img {
	width: 200px;
	height: 120px;
	border: 1px solid #292929;
}

.target .tooltiptext {
	visibility: hidden;
	width: 200px;
	background-color: #555555b8;
	color: #fff;
	text-align: center;
	padding: 5px 2px;
	border-radius: 6px;
	position: absolute;
	z-index: 1;
	bottom: 105%;
	left: 33%;
	margin-left: -60px;
	opacity: 0;
	transition: opacity 0.3s;
}

.target .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555555b8 transparent transparent transparent;
}

.target img:hover ~ .tooltiptext {
	visibility: visible;
	opacity: 1;
}

.detail {
	height: 25%;
}

/* .more-detail {

} */
