.main-layout {
	width: auto;
	padding: 0 0 50px;
}

.countries {
	width: auto;
	display: grid;
	justify-content: center;
	align-content: start;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
}