.main-layout {
	display: block;
	width: auto;
	margin: 0 0 50px;
}

.countries, .loading-countries {
	width: 80%;
	margin: 0 auto;
}

.countries {
	grid-template-columns: repeat(3, 1fr);
	display: grid;
	grid-template-rows: repeat(4, 1fr);
	grid-column-gap: 20px;
	grid-row-gap: 30px;
	justify-items: center;
}

.loading-countries {
	display: flex;
	justify-content: center;
}

.loading-countries svg{
	width: 100px;
	height: 100px;
	margin: 20px;
	display:inline-block;
}