.disabled {
  display: none;
}

.active {
  display: block;
}

.header {
  background: linear-gradient(90deg, rgb(127, 221, 12), rgb(11, 90, 207));
  background-size: cover;
  width: 100%;
  min-height: 25vh;
}

.navbar {
  background-color: transparent !important;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.navbar .nav-link {
  display: block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  color: #000;
  text-decoration: none;
}