.layout-header-nav {
  display: block;
}

.layout-header-nav.hide {
  display: none;
}

.header {
  background: linear-gradient(0deg, rgba(103, 148, 49, 0.74), rgba(151, 26, 26, 0.7));
  background-size: cover;
  width: 100%;
  min-height: 25vh;
}

.navbar {
  background-color: transparent !important;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.navbar .nav-link {
  display: block;
  padding: 0.5rem 1rem;
  font-size: 20px;
  font-weight: 400;
  color: #000;
  text-decoration: none;
}

.navbar .tabs {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.tabs .nav-link.enabled {
  color: #999;
  pointer-events: none;
}

.layout-search.show {
  display: flex;
  justify-content: center;
  align-items: center;
}

.layout-search.hide {
  display: none;
}