.layout-advanced {
  margin: 5px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.layout-advanced.hide {
  display: none;
}

.layout-order {
  margin: auto 5px;
  border-right: 1px solid #76777c;
}

.layout-filter {
  margin: auto 5px;
  border-left: 1px solid #76777c;
}