:root {
  --v-background-color: #e5e5e5;
  --v-color: #606060;
  --v-border-color: #999;
  --v-border-weight: 2px;
  --v-font-weight: normal;
}

.pagination {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center; 
  margin: 10px auto;
}

.paginationItem, .next, .prev, .start, .end {
  background: var(--v-background-color);
  color: var(--v-color);
  border: var(--v-border-weight) solid var(--v-border-color);
  border-left: none;
  border-right: none;
  font-weight: var(--v-font-weight);
  height: 35px;
  width: 35px;
  cursor: pointer;
}

.paginationItem:hover, 
.start:hover, 
.prev:hover, 
.next:hover, 
.end:hover {
  --v-background-color: #fff;
  --v-font-weight: bold;
}

/* .paginationItem span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

/* .prev, .next {
  --v-background-color: #fff;
  --v-color: blue;
  border: none;
  padding: 10px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  margin: 0 10px;
  cursor: pointer;
} */

.start {
  border-radius: 50% 0 0 50%;
  border-left: var(--v-border-weight) solid var(--v-border-color);
} 

.end {
  border-radius: 0 50% 50% 0;
  border-right: var(--v-border-weight) solid var(--v-border-color);
}

.paginationItem.active {
  --v-background-color: #00f;
  --v-color: #fff;
  --v-font-weight: normal;
  pointer-events: none;
}

.start.disabled,
.prev.disabled,
.next.disabled,
.end.disabled {
  pointer-events: none;
  box-shadow: none;
  --v-color: #999;
  --v-border-color: #999;
}